<section ng-class="$ctrl.styles.section">
    <table>
        <h3>Add A Store!</h3>
        <tr>
            <td><label>Name:</label></td>
            <td><input ng-model="$ctrl.name"></td>
        </tr>
        <tr>
            <td><label>Street:</label></td>
            <td><input ng-model="$ctrl.address.street"></td>
        </tr>
        <tr>
            <td><label>City:</label></td>
            <td><input ng-model="$ctrl.address.city"></td>
        </tr>
        <tr>
            <td><label>State:</label></td>
            <td><input ng-model="$ctrl.address.state"></td>
        </tr>
    </table>
    <div id="button-div">
        <button ng-click="$ctrl.addStore()">Submit</button>
        <button ng-click="$ctrl.cancel()">Cancel</button>
    </div>
    <pet-add store-id="petAppCtrl.storeId" add="petAppCtrl.add"></pet-add>
</section>
