<section>
<!--<div>
    <label>View:</label>
    <select
        ng-class="petAppCtrl.styles['selector']"
        ng-model="petAppCtrl.viewName"
        ng-options="view for view in petAppCtrl.views"
        ng-change="petAppCtrl.renderView()">
    </select>
</div>-->
<div ng-repeat="pet in petAppCtrl.pets">
    <hr>
    {{pet.name}} the {{pet.animal}}
    <!--<pet-thumbnail pet="pet" ng-show="petAppCtrl.thumbnailView"></pet-thumbnail>-->
    <button ng-click="petAppCtrl.remove(pet)">Delete</button>
</div>
<pet-add store-id="petAppCtrl.storeId" add="petAppCtrl.add"></pet-add>
</section>
