<section ng-class="$ctrl.styles.section">
    <table>
        <h3>Add A Pet!</h3>
        <tr>
            <td><label>Name:</label></td>
            <td><input ng-model="$ctrl.name"></td>
        </tr>
        <tr>
            <td><label>Animal:</label></td>
            <td><input ng-model="$ctrl.animal" placeholder="cat, lizard, bird, dog, fish"></td>
        </tr>
    </table>
    <div id="button-div">
        <button ng-click="$ctrl.addPet()">Submit</button>
        <button ng-click="$ctrl.reset()">Cancel</button>
    </div>
</section>