<section ng-class="storeCtrl.styles.stores">
        <section>
            <h3>Stores:</h3>
            <div class="store-div" ng-repeat="store in storeCtrl.stores">
                <span
                    ui-sref="stores.pets({
                        store_id: store._id
                    })">{{store.name}} 
                </span>
                <button ng-click="storeCtrl.remove(store)">Delete</button>
            </div>
        </section>
        <ui-view></ui-view>
        <store-add add="storeCtrl.add"></store-add>
</section>